﻿@model MVC_VALIDATE.Models.ModalClass

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "frmReg", name = "frmReg" }))
{
    <table border="1">
        <tr>
            <td>Name</td>
            <td>@Html.TextBoxFor(m => m.EmpName, new { id = "txtName", name = "txtName" }) </td>
            <td style="color: red;">@Html.ValidationMessageFor(m => m.EmpName)</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Html.TextBoxFor(m => m.Email, new { id = "txtEmail", name = "txtEmail" }) </td>
            <td style="color: red;">@Html.ValidationMessageFor(m => m.Email)</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>@Html.TextBoxFor(m => m.Age, new { id = "txtAge", name = "txtAge" }) </td>
            <td style="color: red;">@Html.ValidationMessageFor(m => m.Age)</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td colspan="1">@Html.RadioButtonFor(M => M.Gender, "M") Male
            @Html.RadioButtonFor(M => M.Gender, "F") Female
            </td>
            <td style="color: red;">@Html.ValidationMessageFor(m => m.Gender)</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>@Html.DropDownListFor(M => M.CountryId, new SelectList(Model.CountryList, "Value", "Text"))</td>
            <td style="color: red;">@Html.ValidationMessageFor(m => m.CountryId)</td>
        </tr>
        <tr>
            <td>Course</td>
            <td>
            @for (int idx = 0; idx < Model.CourseList.Count; idx++) {
        
            
              @Html.HiddenFor(x=>Model.CourseList[idx].Value)
              @Html.CheckBoxFor(x=>Model.CourseList[idx].Selected)
              @Html.DisplayFor(x => Model.CourseList[idx].Text)
           //   @Html.HiddenFor(x => Model.CourseList[idx].Text)
            }
            </td>
        
        
            <td style="color: red;">@Html.ValidationMessageFor(m => m.Checked)</td>
        </tr>
       
        <tr>
            <td></td>
            <td>
                <input type="submit" value="ok" /></td>
        </tr>
    </table>
}