﻿@model MVC_VALIDATE.Models.ModalClass

@{
    ViewBag.Title = "ViewAll";
}

<h2>View</h2>

@Html.ActionLink("Add New Record" , "Index")
<table>
    <thead>
        <tr>
            <th>Id</th><th>Name</th><th>Email</th><th>Age</th><th>Gender</th><th>Coutry</th><th>Courses</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<p>Sakthi Murugan</p>
<p>This text from bitbucket!!!!</p>
<p>asdaskjakjsdfajksfakjhjabdfjkhakjfbadbfbadhfhabdkf</p>
<p>test sakthi</p>